<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.secondcode.mapper.TypeMapper" >

    <resultMap id="TypeResult" type="com.example.secondcode.Entity.Type">
        <id column="type" property="type"/>
        <result column="duties" property="duties"/>
    </resultMap>

    <select id="findType" resultType="com.example.secondcode.Entity.Type">
        select * from type;
    </select>

</mapper>