<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

    <mapper namespace="com.example.secondcode.mapper.UserMapper">

    <resultMap type="com.example.secondcode.Entity.User" id="UserResult">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="area" property="area"/>
        <result column="phone" property="phone"/>
        <result column="type" property="type"/>
    </resultMap>

    <select id="getUserById" resultType="com.example.secondcode.Vo.UserVo">
        select 'id','type' from user
        where
        id = # {id}
    </select>


    </mapper>
